/MQTTServer/MQTTServer/bin/
/MQTTServer/MQTTServer/obj/
/MQTTServer/.idea
/ClientApplication/.idea
/ClientApplication/MaloyClient/bin/
/ClientApplication/MaloyClient/obj/
/ClientApplication/Avalonia.Plot/bin/
/ClientApplication/Avalonia.Plot/obj/